/* -------------------------------- 
xTypography 
-------------------------------- */

h1,
h2 {
  font-family: 'Viner Hand ITC', Fantasy;
  color: #19191a;
}

h1 {
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 1.2;
  margin: 0 0 0.4em;
}
@media only screen and (min-width: 768px) {
  h1 {
    font-size: 3.2rem;
  }
}
@media only screen and (min-width: 1024px) {
  h1 {
    font-size: 4rem;
  }
}

h2 {
  font-weight: bold;
  text-transform: uppercase;
  margin: 1em 0;
}
@media only screen and (min-width: 768px) {
  h2 {
    font-size: 1.8rem;
    margin: 1em 0 1.4em;
  }
}

section > h2::before {
  /* number before each section title */
  color: silver;
}

p {
  font-size: 1.4rem;
  line-height: 1.4;
  color: #58585b;
}
p a {
  color: #5f8ee4;
  text-decoration: underline;
}
@media only screen and (min-width: 768px) {
  p {
    font-size: 1.6rem;
    line-height: 1.6;
  }
}
