@import 'variables';

/*added leaves image to background*/
.page-wrapper {
    min-width: auto;
    background-image: url('assets/leaves.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


/*add in the koi logo!*/
header { 
    position: absolute;
    width: 85%;
    height: 70vw; 
    background-image: url('assets/koi-logo.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

@media only screen and (min-width: 520px) {
    header {
        background-size: 28vw;
        width: 50%;
        height: 28vw;  
    }
}
