@import "variables";

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.intro h1 {
  display: none; //hide this since the title is in the logo
}

/*header rotated on left*/
.intro h2 {
    position: fixed;
    text-align: right;
    top: 10em; 
    left: 0;
    transform: rotate(270deg);
    transform-origin: 0 0;
    font-size: 10vw;   
}

p {
  background-color: $color-background;
  padding: 1em;
  margin-bottom: -2px;
}

.summary p {
  margin-top: -2px;
}

.intro, .main, .wrapper, footer, h3 {
  outline: 5px solid;
}

h3 {
  background:$light-red;
  padding: 1em;

}

footer {
  background-color: $color-main;
  padding: 1em;
}

aside {
  background-color: $color-main;
  ul {
    padding: 1em;
  }
}
/*
.preamble {
  background-color: $light-red;
}


aside div:nth-of-type(3) {
  position:absolute;
  margin-top: 95px;
  width: 450px;
  border: #000000 5px solid;
  padding: 2em;
  background-color: $main-red;
}

.zen-resources {
  background-color: $main-red;
}

.explanation h3 {
  background: $gray;
  padding-top: 7em;
  padding-bottom: 0em;
  border-bottom: $border-5;
  margin: -1.45em;
  margin-bottom: 0.1em;
}

.explanation {
  background-color: $bright-red;
}

.participation {
  background-color: $main-red;
}

.benefits {
  background-color: none;
}

.requirements {
  background-color: $light-red;
}


// sidebar

.sidebar {
    border: $border-3;
    border-radius: $border-radius-3;
    position: fixed;
    width: 23%;
    top: 80px;
    right: 12%;
    padding: 0.5em;
    background-color: $light-red;
    .design-name {
        padding: 0.5em;
        display: inline-block;
    }
}

.design-selection ul {
    border: $border-5;
    border-radius: $border-radius-5;
    padding: 1em;
    background-color: $main-red;
    .design-name {
        padding: 0.5em;
        display: inline-block;
    }
}

.design-name::after {
  content: "";
  margin: 5em;
}

.design-archives {
  padding-top: 1em;
}*/

@media only screen and (min-width: 490px) {
  .intro h2 {
    font-size: 6vw;
    left: 30px;
  }

  // sidebar
  aside {
      margin: 1em;
      padding: 2em 0.8em;
      background-color: $color-main;
      border: black 5px solid;
      border-radius: 20px/40px 0;
  }

  aside ul {
      padding: 1em;
      background-color: $color-background;
      .design-name {
          padding-top: 0.6em;
          display: inline-block;
      }
  }

  .design-name::after {
    content: "";
    margin: 5em;
  }

  .design-archives {
    padding-top: 1em;
  }
}
