@import "variables";

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.intro h1 {
  display: none; //hide this since the title is in the logo
}

/*header rotated on left*/
.intro h2 {
    position: fixed;
    text-align: right;
    top: 10em; 
    left: 0;
    transform: rotate(270deg);
    transform-origin: 0 0;
    font-size: 10vw;   
}

.intro, .main, .wrapper, footer, h3 {
  outline: 5px solid;
}

.summary p:nth-of-type(1) {
  padding-top: 70vw;
}

h3 {
  background:$light-red;
  padding: 0.6em 1em;
}

p {
  background-color: $color-background;
  padding: 1em;
  margin-bottom: -2px;
}

a:hover {
  color: $color-main;
}

a:active {
  color: white;
}

footer {
  background-color: $color-main;
  padding: 1em;
}

aside {
  ul {
    background-color: $color-background;
    padding: 1em;
    .design-name {
          padding-top: 0.6em;
          display: block;
      }
      .design-name::after {
        content: "";
      }
      .design-archives {
        padding-top: 1em;
      }
  }
}

@media only screen and (min-width: 520px) {
  .intro h2 {
    font-size: 6vw;
  }

  .summary p:nth-of-type(1) {
    padding: 10px 5vw;
    padding-top: 32vw;
  }

  // sidebar move to the right
  aside {
    min-height: 90%;
    padding: 2em 0.8em;
    background: none;
  }
}