@import url("https://use.typekit.net/gac3gtr.css");
@import url("https://allfont.es/allfont.css?fonts=matura-mt-script-capitals");
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');


/* Font families and font sizes*/
body {
    font-family: 'hightower-text', serif;
    font-size: 5vw;
}

h1, h3, h4, .design-name {
    font-family: 'Matura MT Script Capitals', arial;
}

.summary {
  text-align: center;
  p:nth-of-type(2) {
    //font-family: 'hightower-text', serif;
    font-size: 4vw;
  }
  p:nth-of-type(1) {
      font-family: 'Dancing Script', cursive;
      font-size: 6vw;
  }
}

.intro h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 10vw;
}

a, li, abbr {
    color: black;
    text-decoration: none;
    list-style: none;
}

@media only screen and (min-width: 520px) {
    .summary p:nth-of-type(1) {
        font-size: 2vw;
    }
    body, aside h3 {
        font-size: 1.5vw;
    }
    .intro h2 {
        font-size: 4.5vw;
    }
}